{{ .WriteHeader "sh" }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

source "$HOME"/.profile

if [[ -f /etc/bash_completion ]]; then
  source /etc/bash_completion
fi

{{- if .AllowRootX }}
xhost +local:root > /dev/null 2>&1
if [[ -z "$DISPLAY" -a $XDG_VTNR -eq 1 ]]; then
  ssh-agent startx
fi
{{- end }}

complete -cf sudo

shopt -s cdspell
shopt -s checkwinsize
shopt -s cmdhist
shopt -s dotglob
shopt -s expand_aliases
shopt -s extglob
shopt -s histappend
shopt -s hostcomplete

export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}
export HISTCONTROL=ignoreboth
export EDITOR=/usr/bin/vim
{{- if eq .OS "linux" }}
export TERMINAL=/usr/bin/urxvtc
{{- end }}

{{- if eq .OS "linux" }}
export BROWSER=/usr/bin/xdg-open
{{- else }}
export BROWSER=
{{- end }}

ESC=$'['
END_ESC=m

NOPRINT='\['
END_NOPRINT='\]'

WRAP="$NOPRINT$ESC"
END_WRAP="$END_ESC$END_NOPRINT"

export RESET="${WRAP}0${END_WRAP}"
export RESET_BG="${WRAP}49${END_WRAP}"

export NORMAL="${WRAP}21${END_WRAP}"
export BOLD="${WRAP}1${END_WRAP}"

if [[ -d ~/.bash.d ]]; then
  for i in ~/.bash.d/*; do
    # left over from when these files were in this part of my dotfiles
    if [[ ${i: -3} == ".md" ]] || \
       [[ ${i: -10} == ".gitignore" ]] || \
       [[ ${i: -6} == "bashrc" ]] || \
       [[ ${i: -4} == ".git" ]] || \
       [[ ${i: -5} == ".idea" ]]; then
      continue
    fi
    [[ -f "${i}" ]] && source "${i}"
  done
fi

[ -f "$HOME"/.fzf.bash ] && source "$HOME"/.fzf.bash
